html,
body {
  padding: 0;
  margin: 0;
  background-color: #242a35;
  font-family: "Teko-Regular";
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

@font-face {
  font-family: "Teko-Regular";
  src: url("/fonts/Teko-Regular.ttf");
  font-style: normal;
  font-weight: 300;
}
